.custom-headline1 {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(255, 68, 138);
}

.custom-headline2 {
    font-size: 14px;
    -unity-font-style: bold;
}

.header {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(207, 207, 207);
    padding-bottom: 2px;
    -unity-font-style: bold;
    margin-top: 5px;
}

.split {
    margin-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(207, 207, 207);
    -unity-font-style: bold;
    padding-bottom: 2px;
    margin-top: 10px;
}

.custom-splitter {
    height: 2px;
    background-color: rgb(31, 31, 31);
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-splitter2 {
    height: 2px;
    background-color: rgb(207, 207, 207);
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom-color: rgb(207, 207, 207);
}
